.navbar ul{
    padding: 5px;
    background-color: #333;
    justify-content: center;
    display: flex;
}

.navbar{
    background-color: #333;
    display: flex;
    align-items: center;
}

nav{
    display: inline-block;
    width: 80%;
}

.navbar li{
    display: inline;
    padding: 10px;
}

.logo {
    margin-left: 16px;
    vertical-align: middle;
}

.navbar a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    background-color: gray;
    padding: 20px;
    text-transform: uppercase;
}

nav a:active{
    text-decoration: underline;
}

.banner{
    background-image: url(pictures/banner.jpg);
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

.banner_p1{
    font-size: 30px;
}

.banner_p2{
    font-size: 20px;
}

.banner_p4{
    font-size: 10px;
}

.intoduction_container{
    text-align: center;
}

.intoduction_container p{
    font-size: 10px;
    margin: 20px;
}

.title{
    margin: 30px;
    font-size: 20px;
    text-align: center;
}

span{
    border-radius: 50%;
    border: #f6d601 solid 3px;
    background-color: #333;
    color: #f6d601;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

.grid-item{
    background-color: black;
    padding: 20px;
    overflow: scroll;
}

.item1, .item5{
    grid-column: 1 / 3;
    text-align: center;
}

.item2{
    grid-row: span 2;
}

.info{
    text-align: center;
    color: #f6d601;
    background-color: #333;
    padding: 10px;
}

.num{
    font-size: 15px;
    font-weight: bold;
}

@media screen and (max-width: 900px){
    .banner{
        background-image: url(pictures/banner2.jpeg);
        background-size: cover;
    }

    .banner p:hover{
        background-color: #333;
        padding: 10px;
    }
    
    .contact_msg{
        font-size: 20px;
    }

    .grid-item{
        grid-column: span 3;
    }

}

