.navbar ul{
    padding: 5px;
    background-color: #333;
    justify-content: center;
    display: inline-block;
    text-align: center;
}

.navbar{
    background-color: #333;
    clear: both;
    overflow: auto;
    text-align: center;
}

nav{
    display: inline-block;
    width: 80%;
}

.navbar li{
    display: inline;
    padding: 10px;
}

.logo {
    margin-left: 16px;
    vertical-align: middle;
    float: left;
}

.navbar a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    background-color: gray;
    padding: 20px;
    text-transform: uppercase;
}

nav a:active{
    text-decoration: underline;
}

.banner{
    background-image: url(pictures/banner.jpg);
    padding: 50px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

.banner_p1{
    font-size: 30px;
}

.banner_p2{
    font-size: 20px;
}

.banner_p4{
    font-size: 10px;
}